<div class="flex-container horizontal" style="gap: var(--content-offset)">
  <app-graph [radius]="3" [points]="[]"></app-graph>
  <div id="actions-section" class="flex-container vertical">
    <div id="results-section">
      <table id="results-table">
        <thead>
          <tr>
            <th>X</th>
            <th>Y</th>
            <th>R</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody id="results-table-empty">
          <tr>
            <td colspan="4">No results</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>4</td>
            <td>
              <div class="tooltip-container">
                <span>Попал</span>
                <div class="tooltip error-message">ЭТО НЕ РАБОТАЕТ</div>
              </div>
            </td>
          </tr>
          <tr class="filled-row">
            <td colspan="4">Executed at 13:45 in 5 seconds</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="form-section"></div>
  </div>
</div>
