header {
  margin: 5px;
  margin-bottom: 0;
  border-radius: var(--border-radius);
  padding: var(--vertical-padding) 15px;
  gap: 10px;
  z-index: 99999;
  backdrop-filter: blur(10px);
  mix-blend-mode: lighten;
}

#logo {
  cursor: pointer;
  height: calc(
    var(--sm-text-size) + var(--vertical-padding) * 2 + 1px - 5px * 2
  );
  margin: 5px 0;
}

.flex-container {
  align-items: center;
}

@media screen and (max-width: 1190px) {
  header {
    margin: 5px;
    padding: var(--vertical-padding) 10px;
    gap: 8px;
  }

  #logo {
    height: calc(
      var(--sm-text-size) + var(--vertical-padding) * 2 + 1px - 5px * 2
    );
  }

  header span.subtext {
    font-size: 12px;
  }
}

@media screen and (max-width: 721px) {
  header {
    margin: 3px;
    margin-bottom: 0;
    padding: var(--vertical-padding) 8px;
    gap: 5px;
    font-size: 0.9em;
  }

  #logo {
    display: none;
  }

  #credits {
    display: none;
  }

  button {
    padding: var(--vertical-padding) 8px;
    font-size: 0.9em;
  }
}
